.accrocheContact{
    @include citation;
    margin-right:80px;
    margin-top:2em;
    h1{
        font-size: 1em;
        margin:0;
    }
    p{
        font-size: 0.75em;
    }
    form{
        font-family:'Open sans', sans-serif;
        font-style: normal;
        font-size:0.75em;
        max-width:$col_6;
        z-index: 5;
    }
    input, textarea{
        max-width:100%;
        display:block;
        margin-bottom: 0.5em;
        font-size:0.75em;
        font-family:'Open sans', sans-serif;
    }
    input[type=submit]{
        border:none;
        @include redButton;
        width:$col_4;
        padding:0.5em;
    }
    .error{
        color:red;
        display:none;
        font-size: 0.75em;
    }
    .success{
        font-size:2em;
        color:green;
    }
}
