.lastDoc{
    @include center_body;
    margin-bottom:2em;
    ul{
        width:body_width;
        li{
            @include list-horizontal;
            width:24,050632911392%;
            img{
                //max-width:100%;
            }
        }
        li+li{
            margin-left:1.26582278481%;
        }
    }
}