.about{
    margin:3em auto;
    padding-bottom:3em;
    //margin:2em;
    width:$body_width;
    @include clearFloat;
    a{
        @include redButton;
        width:65.51724137931%;
        float:right;
    }
    h2{
        font-family: 'Open Sans', sans-serif;
        font-size: 3em;
        //color:white;
        padding:0 0.5em;
        border-right:2px solid $darkGrey;
        text-transform: uppercase;
        line-height: 1;
        font-weight: 300;
        //background-color: $darkGrey;
    }
    div.header{
        width:36.708860759494%;
        //margin-left:$col_6;
        margin-right:1.26582278481%;
        float:left;
        text-align: right;
    }
    .article{
        @include box-sizing;
        width:43.037974683544%;
        float:left;
        font-size: 1em;
        padding-right:5%;
        font-weight:400;
    }
}