body{
    width:100%;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
}
ul{
    margin:0;
    padding:0;
}
h1, .alpha{
    font-size: 2em;
    font-weight: 400;
    margin-left:1.26582%;
}
figure{
    margin:0;
}
.blind{
    @include blindText; 
}
br{
	display:none;
}