.lastDoc{
    @include center_body;
    ul{
        margin-bottom:2em;
        //width:body_width;
        li{
            @include list-horizontal;
            width:24.050632911392%;
            img{
                width:100%;
            }
        }
        li+li{
            margin-left:1.26582278481%;
        }
    }
}