.Projets{
    //padding-top: 2em;
    @include center_body();
    h2{
        font-size:3em;
    }
    h3{
        //margin-left:6.329113924051%;
        margin:1em 1.26582278481% 0;
        font-weight: 400;
        font-size: 2em;
        //font-family: 'merryweather', serif;
        //font-style: italic;
    }
    h4{
        font-size: 1.5em;
        font-weight: 400;
        margin: 0.5em 0;
    }
    &>section{ 
        @include clearFloat;
        section{
            //background-color: rgba(1,1,1,0.1);
            padding:0 $gutter $gutter;
            float:left;
            width:48%;
            margin:0 1.26582278481% 1em 0;
            @include box-sizing;
            @include transition-duration(0.2s);
        }
        section:nth-child(even){
            margin-right: $gutter;
        }
    }
    
    figure{
        @include box-sizing; 
        width:100%;
    }
    p{
        min-height:6em;
    }
    img{
        max-width:100%;
        max-height:30em;
        display:block;
        margin:auto;
    }

    span{
        @include list-horizontal;
        width:50%;
        @include box-sizing;
        float:left;
        a{
            width: 100%;
            @include redButton;
        }
    }
    span+span{
        padding-left:1.388888888889%;
    }
    span:first-child{
        padding-right:1.388888888889%;
    }
    .single span{
        width:100%;
        padding:0px;
    }
    
}