.presentation{
    @include center_body();
    @include clearFloat;
    position:relative;
    &>*{
        float:left;
        width:50%
    }
}
.aboutMe, .contactPage{
    @include center_body();
    @include clearFloat;
    &>*{
        float:right;
        width:50%;
    }
}
.accrocheAboutMe{
    @include citation;
    margin-right:80px;
    margin-top:6em;
}
.accroche{
    @include citation;
    margin-left:6.329113924051%;
    margin-top:6em;
    text-shadow: 1px 1px 1px rgba(255,255,255,1);
}